a {
  /* bootstrap-reboot.css */
  color: #007bff;
  text-decoration: none;
  /* normalize */
  line-height: inherit; }

a:hover {
  /* bootstrap-reboot.css */
  color: #0056b3;
  text-decoration: underline; }
