a {
  /* bootstrap-reboot.css */
  color: #007bff;
  text-decoration: none;
  /* normalize */
  background-color: transparent;
  /* Remove the gray background on active links in IE 10. */
  /* meyerreset */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* tripoli */
  outline: none;
  /* html5doctor.com Reset */
  background: transparent;
  /* sanitize.css v7.0.3 */
  -ms-touch-action: manipulation;
  /* Remove the tapping delay in IE 10. */
  touch-action: manipulation;
  /* Remove the tapping delay on clickable elements in all browsers (opinionated). */
  /* sanitize.css */
  -webkit-tap-highlight-color: transparent;
  /* Remove the grey highlight on links in iOS (opinionated). */
  /* typeset.css */
  line-height: 1.0;
  text-decoration: underline; }

a:focus {
  /* meyerreset */
  outline: thin dotted;
  /* Address `outline` inconsistency between Chrome and other browsers. */ }

a:active {
  /* meyerreset */
  outline: 0;
  /* Improve readability when focused and also mouse hovered in all browsers. */ }

a:hover {
  /* bootstrap-reboot.css */
  color: #0056b3;
  text-decoration: underline;
  /* marx.css */
  color: #0062cc;
  /* meyerreset */
  outline: 0;
  /* Improve readability when focused and also mouse hovered in all browsers. */ }
