a {
  color: #007bff;
  background-color: transparent;
  text-decoration: none;
  line-height: inherit; }

a:hover,
a:focus,
a:active {
  color: #0056b3;
  text-decoration: underline; }

a img {
  border: 0; }
