a {
  color: #007bff;
  /* [bootstrap-reboot.css] */
  background-color: transparent;
  /* [normalize] Remove the gray background on active links in IE 10. */
  text-decoration: none;
  line-height: inherit; }

a:hover,
a:focus,
a:active {
  color: #0056b3;
  /* [bootstrap-reboot.css] */
  text-decoration: underline; }

a img {
  border: 0;
  /* remove border from appearing around img element within a link */ }
