h1 {
  font-size: 2em;
  margin: .67em 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5em 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1 {
  font-size: 2em;
  line-height: 1.5;
  margin: 2.25em 0 .75em 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500; }

h1 {
  font-size: 40px;
  margin: 20px 0 16px; }

h2 {
  font-size: 32px;
  margin: 20px 0 16px; }

h3 {
  font-size: 28px;
  margin: 16px 0 4px; }

h4 {
  font-size: 24px;
  margin: 16px 0 4px; }

h5 {
  font-size: 20px;
  margin: 16px 0 4px; }

h6 {
  font-size: 16px;
  margin: 16px 0 4px; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

h1
h2
h3
h4
h5
h6 {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }
