p {
  margin: 0;
  padding: 0; }

p, code, pre, kbd {
  margin: 0 0 1.5em 0; }

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }
