textarea {
  padding: 0;
  width: 100%;
  border: 1px solid gray;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: 1em;
  white-space: normal;
  height: auto;
  background-color: transparent;
  /* 1 */
  border: 1px solid WindowFrame;
  /* 1 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  letter-spacing: inherit;
  /* 2 */
  padding: .25em .375em;
  /* 1 */
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */ }

textarea {
  vertical-align: top;
  font-size: 100%;
  /* 1 */
  vertical-align: baseline;
  /* 3 */
  color: #222; }

/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: inherit;
  background: transparent;
  padding: 0;
  outline: 0;
  text-align: inherit; }

textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  resize: vertical;
  min-height: 50px;
  height: auto;
  border-radius: 0;
  max-width: 100%; }
