p {
	text-rendering: optimizeLegibility; // [Opinionated] https://css-tricks.com/almanac/properties/t/text-rendering/ The browser emphasizes legibility over rendering speed and geometric precision. This enables the use of special kerning and optional ligature information that may be contained in the font file for certain fonts.
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }
