body {
	margin: 0; // [normalize] Remove the margin in all browsers.
	padding: 0;

	// Customize following styles as needed -----------------

	// background-color: #fefefe; // [foundation] color value
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; // [Opinionated] Foundation sans-serif font stack
	// font-weight: normal;
	// line-height: 1.5;
	color: #0a0a0a; // [Opinionated] Foundation color value
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}
