textarea {
	padding: 0;
	width: 100%;
	border: 1px solid gray;
	letter-spacing: inherit; // [Opinionated] Add typography inheritance in all browsers
	font-family: inherit; // [Opinionated] Add typography inheritance in all browsers
	font-size: inherit; // [Opinionated] Add typography inheritance in all browsers
	font-weight: inherit; // [Opinionated] Add typography inheritance in all browsers
	color: inherit; // [Opinionated] Add typography inheritance in all browsers
	font-size: 1em;
	white-space: normal;
	height: auto; // Restrict sizing to the page width in all browsers (opinionated).

	background-color: transparent; /* 1 */ // 1. Change the inconsistent appearance in all browsers (opinionated).
	border: 1px solid WindowFrame; /* 1 */ // 1. Change the inconsistent appearance in all browsers (opinionated).
	color: inherit; /* 1 */ // 1. Change the inconsistent appearance in all browsers (opinionated).
	font: inherit; /* 2 */ // 2.
	letter-spacing: inherit; /* 2 */ // 2. Add typography inheritance in all browsers (opinionated).
	padding: .25em .375em; /* 1 */ // 1. Change the inconsistent appearance in all browsers (opinionated).

	-ms-touch-action: manipulation; /* 1 */ // Remove the tapping delay in IE 10.
	    touch-action: manipulation; /* 2 */ // Remove the tapping delay on clickable elements in all browsers (opinionated).
}

// normalize
textarea {
	font-family: inherit; /* 1 */ // Change the font styles in all browsers.
	font-size: 100%; /* 1 */ // Change the font styles in all browsers.
	line-height: 1.15; /* 1 */ // Change the font styles in all browsers.
}

// meyerreset
textarea {
	vertical-align: top; // Improve readability and alignment in all browsers.
	font-size: 100%; /* 1 */ // Correct font size not being inherited in all browsers.
	vertical-align: baseline; /* 3 */ // Improve appearance and consistency in all browsers.
	color: #222;
}

// destyle
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */

button,
input,
optgroup,
select,
textarea {
	-webkit-appearance: none;
	        appearance: none;
	vertical-align: middle;
	color: inherit;
	font: inherit;
	border: inherit;
	background: transparent;
	padding: 0;
	outline: 0;
	text-align: inherit;
}

// foundation
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0; // [Normalize] Remove the margin in Firefox and Safari.
	overflow: auto; // [Normalize] Remove the default vertical scrollbar in IE 10+.
	resize: vertical; // [Opinionated] Allow only vertical resizing of textareas.
	min-height: 50px; // [Opinionated]
	height: auto;
	border-radius: 0;
	max-width: 100%; // [Opinionated] Restrict sizing to the page width in all browsers
}
