small {
	color: gray;
	font-size: .75em;
}

small {
	font-size: 80%;
}

small {
	color: rgba(0, 0, 0, .54);
	vertical-align: bottom;
}

small {
	font-size: 85%;
}

small {
	font-size: 75%;
}

small {
	font-size: 80%;
	line-height: inherit;
}
