h1 {
	font-size: 2em; // [normalize] Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Edge, Firefox, and Safari.
	margin: .67em 0; // [normalize]
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0; // [Opinionated]
	margin-top: 0; // [Opinionated]
	margin-bottom: .5rem; // [Opinionated]
}
