img {
  max-width: 100%;
  height: auto; }

img {
  vertical-align: middle;
  border-style: none; }

img {
  border-style: none;
  vertical-align: bottom; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  /* For IE: http://css-tricks.com/ie-fix-bicubic-scaling-for-images */ }

img {
  vertical-align: middle; }

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  height: auto;
  max-width: 100%; }

img {
  border-style: none;
  /* [normalize] Remove the border on images inside links in IE 10. */ }

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border-style: none; }

img,
a img {
  border: none; }

img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: inline;
  max-width: 100%; }

/* undohtml.css */
a img,
:link img,
:visited img {
  border: none;
  /* whoever thought blue linked image borders were a good idea? */ }

img {
  max-width: 100%; }

img {
  border: 0; }

/*
https://github.com/zellwk/css-reset
*/
img {
  display: block;
  max-width: 100%; }
