/*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */
/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
			in all browsers (opinionated).
 */
a,
[tabindex] {
	-ms-touch-action: manipulation;
	/* 1 */
	    touch-action: manipulation;
	/* 2 */
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

a:hover,
a:focus {
	color: #0062cc;
	text-decoration: underline;
}
