a {
	/* bootstrap-reboot.css */
	color: #007bff;
	text-decoration: none;

	/* normalize */
	background-color: transparent; /* Remove the gray background on active links in IE 10. */
	line-height: inherit;

	/* color: #1779ba; */ /* [Foundation] opinionated color alternative */
}

a:hover,
a:focus,
a:active {
	/* bootstrap-reboot.css */
	color: #0056b3;
	text-decoration: underline;

	/* color: #1468a0; */ /* [Foundation] opinionated color alternative */
}

a img {
	border: 0; /* remove border from appearing around img element within a link */
}
