a {
	/* bootstrap-reboot.css */
	color: #007bff;
	text-decoration: none;

	/* normalize */
	background-color: transparent; /* Remove the gray background on active links in IE 10. */
	line-height: inherit;

	/* meyerreset */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a:hover {
	/* bootstrap-reboot.css */
	color: #0056b3;
	text-decoration: underline;
}
