a {
	color: #0000ee; // Specify to use the default <a> color from Chrome/FF/Safari so that a:visited/a:hover/a:active do not have a different color
	background-color: transparent; // [normalize] Remove the gray background on active links in IE 10.
	line-height: inherit;
}
