code {
	font-family: monospace, monospace; // [normalize] Correct the inheritance and scaling of font size in all browsers.
	font-size: 90%; // [Opinionated] Make `font-size` slightly smaller than root since <code> will have some padding
	padding: .1rem .3rem .2rem; // [Opinionated]
	// `word-break` CSS property sets whether line breaks appear wherever the text would otherwise overflow its content box
	word-break: break-all; // [Opinionated] To prevent overflow, word breaks should be inserted between any two characters
	// `white-space` CSS property sets how white space inside an element is handled
	white-space: pre; // [Opinionated] Sequences of white space are preserved. Lines are only broken at newline characters in the source and at <br> elements.
}
