code {
	font-family: monospace, monospace; // [normalize] Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // [normalize] Correct the odd `em` font sizing in all browsers.
	margin: 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
}
