pre {
	margin-top: 0;
	margin-bottom: 1rem; // [Opinionated]
	clear: both;
	display: block;
	padding: 0;
	font-family: monospace, monospace; // [normalize] Correct the inheritance and scaling of font size in all browsers
	font-size: 1em; // [normalize] Correct the odd `em` font sizing in all browsers.
	// `word-break` CSS property sets whether line breaks appear wherever the text would otherwise overflow its content box
	    word-break: normal;
	-ms-word-break: normal;
	// `tab-size` CSS property is used to customize the width of a tab (U+0009) character
	     tab-size: 4; // [Opinionated]
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	// 'hyphens` CSS property specifies how words should be hyphenated when text wraps across multiple lines.
	        hyphens: none; // [Opinionated] Words are not broken at line breaks, even if characters inside the words suggest line break points. Lines will only wrap at whitespace.
	-webkit-hyphens: none;
	    -ms-hyphens: none;
	background: #f7f7f9; // [Opinionated]
	border: 1px solid #dbe2f2; // [Opinionated]
	border-radius: 4px; // [Opinionated]
}

pre code {
	display: block;
	font-size: 16px; // [Opinionated] - Ensure `font-size` is 16px, regardless of root size
	line-height: 1.5; // [Opinionated]
	padding: 16px; // [Opinionated] - Match `font-size`
	max-width: 100%; // So <code> doesn't expand outside its <pre> wrapper
	min-width: 100px; // [Opinionated] - so <code> has at least 100px to display its content
	// `white-space` CSS property sets how white space inside an element is handled
	white-space: pre-wrap; // [Opinionated] Sequences of white space are preserved. Lines are broken at newline characters, at <br>, and as necessary to fill line boxes.
}
