img {
	// [meyerreset 2.0]
	border: 0; // Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
	-ms-interpolation-mode: bicubic; // Improve image quality when scaled in IE 7.
	vertical-align: middle; // Remove most spacing between table cells.
}
