img {
	// [sanitize]
	vertical-align: middle; // Change the alignment on media elements in all browsers (opinionated).
	height: auto; // Restrict sizing to the page width in all browsers (opinionated).
	max-width: 100%; // Restrict sizing to the page width in all browsers (opinionated).
	border-style: none; // Remove the border on images within links in IE 10-.
}
