img {
	// [typeset.css] Adapted from Eric Meyer's CSS Reset: http://meyerweb.com/eric/tools/css/reset/
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	display: inline;
	max-width: 100%;
}
